

{% extends 'includes/main.twig' %}

{% block content %}

{% if not currentUser %}
    {% redirect 'index' %}
{% endif %}

{% set user = craft.app.user.identity %}
{% set venueId = craft.app.request.getQueryParam('id') %}
{% set venue = venueId ? craft.entries.section('venues').id(venueId).siteId(1).one() : null %}


{% if venue is not null %}
    {% set selectedMovies = venue.movies.siteId(1).all() %}
{% else %}
    {% set selectedMovies = [] %}
{% endif %}

{% set userMovies = craft.entries.section('movies').authorId(currentUser.id).all() %}


<div class="flex">

    <!-- Main Content Area -->
    <main class="flex-1 bg-gray-900 p-6">
            <div class="w-4/4 border rounded-lg shadow 2xl:col-span-2 border-gray-700 sm:p-6 bg-gray-800 mt-4">
        <div class="container mx-auto mt-10">

            <div id="errorDiv" style="display: none;">

            </div>
            {% if craft.app.session.getFlash('error') %}
                <div style="color: red;">
                    {{ craft.app.session.getFlash('error') }}
                </div>
            {% endif %}



            <form method="post" id="venueForm" class="bg-gray-700 shadow-md rounded px-8 pt-6 pb-8 mb-4">
            
                {{ csrfInput() }}
                <input type="hidden" name="action" value="entries/save-entry">
                {{ redirectInput('venues') }}

                <input type="hidden" name="successFlash" value="Venue submitted successfully">

    
                {# If there's a venue, include its ID #}
                {% if venue %}
                    <input type="hidden" name="entryId" value="{{ venue.id }}">
                {% endif %}

                <input type="hidden" name="sectionId" value="3">

                <div class="mb-4">
                    <label class="block text-white text-sm font-bold mb-2" for="title">
                        {{ 'Title'|t }}
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                           id="title" 
                           type="text" 
                           name="title" 
                           value="{{ venue ? venue.title : '' }}" 
                           required>
                </div>

                  <div class="mb-4">
                    <label for="movieDropdown" class="block text-white text-sm font-bold mb-2">{{ 'Choose movies'|t }}:</label>
                    <select id="movieDropdown" name="fields[movies][]" class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" multiple>
                        {% set movies = craft.entries.section('movies').authorId(user.id).all() %}
                        {% for movie in userMovies %}
                                <option value="{{ movie.id }}"
                                        {% if movie.id in selectedMovies|map(movie => movie.id) %}selected{% endif %}>
                                    {{ movie.title }}
                                </option>
                            {% endfor %}
                    </select>

                  </div>
                

                <div class="flex items-center justify-between">
                    <button class="bg-teal-700 hover:bg-teal-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                       {{ 'Submit'|t }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>
        
    </main>
    
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function () {
    var elem = document.getElementById('movieDropdown');
    var choices = new Choices(elem, {
        removeItemButton: true,
        maxItemCount: -1,  // No limit on number of items you can select
        searchEnabled: true,
        searchChoices: true,
        searchResultLimit: 5,
        renderChoiceLimit: -1, // Render all choices in the dropdown
        placeholderValue: 'Select Movies',
        placeholder: true,  // Adds placeholder text when input is empty
    });
});

document.getElementById('venueForm').addEventListener('submit', function(event) {
    var select = document.getElementById('movieDropdown');
    var selected = Array.from(select.options).some(option => option.selected && option.value);

    const siteLanguage = craft.app.language;

    if (!selected) {
        event.preventDefault(); // Stop form submission
        var errorDiv = document.getElementById('errorDiv');
        //errorDiv.textContent = 'Please select at least one movie.';
        errorDiv.textContent = siteLanguage === 'fr' ? 'Veuillez sélectionner au moins un film.' : 'Please select at least one movie.';
        errorDiv.style.color = 'red';
        errorDiv.style.display = 'block';
        select.focus(); // Focus on the select element
    }
});

</script>



{% endblock %}
