

{% extends 'includes/main.twig' %}

{% block content %}

{% if not currentUser %}
    {% redirect 'index' %}
{% endif %}

{% set headsetId = craft.app.request.getQueryParam('id') %}
{% set headset = headsetId ? craft.entries.section('headsets').id(headsetId).one() : null %}

<div class="flex">
    {% include 'includes/sidebar.twig' %}

    <!-- Main Content Area -->
    <main class="flex-1 bg-gray-900 p-6">
            <div class="w-4/4 border rounded-lg shadow 2xl:col-span-2 border-gray-700 sm:p-6 bg-gray-800 mt-4">
        <div class="container mx-auto mt-10">

            {% for message in craft.app.session.getFlash('error', [], true) %}
                <p class="error">{{ message }}</p>
            {% endfor %}

            <form method="post" class="bg-gray-700 shadow-md rounded px-8 pt-6 pb-8 mb-4">
            
                {{ csrfInput() }}
                <input type="hidden" name="action" value="entries/save-entry">
                {{ redirectInput('headsets') }}

    
                {# If there's a headset, include its ID #}
                {% if headset %}
                    <input type="hidden" name="entryId" value="{{ headset.id }}">
                {% endif %}

                <input type="hidden" name="sectionId" value="1">

                <div class="mb-4">
                    <label class="block text-white text-sm font-bold mb-2" for="title">
                        Title
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                           id="title" 
                           type="text" 
                           name="title" 
                           value="{{ headset ? headset.title : '' }}" 
                           required>
                </div>

                <div class="mb-4">
                    <label class="block text-white text-sm font-bold mb-2" for="venue">
                        Venue
                    </label>
                    <select id="fields[venue][]" name="fields[venue][]" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        <option value="">Select a Venue</option>
                        {% set userVenues = craft.entries.section('venues').authorId(currentUser.id).all() %}
                        {% set currentVenueId = headset is not null and headset.venue.one() ? headset.venue.one().id : null %}
                        {% for venue in userVenues %}
                            <option value="{{ venue.id }}" {% if currentVenueId == venue.id %}selected{% endif %}>
                                {{ venue.title }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="flex items-center justify-between">
                    <button class="bg-teal-700 hover:bg-teal-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                       submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>
        
    </main>
    
</div>

{% endblock %}
